EVENTHUB_PRODUCER_CONNECTION_STRING="<PASTE_EVENTHUB_PRODUCER_CONNECTION_STRING>"
EVENTHUB_CONSUMER_CONNECTION_STRING="<PASTE_EVENTHUB_CONSUMER_CONNECTION_STRING>"

SALES_EVENTHUB_NAME="sales-events"
INVENTORY_EVENTHUB_NAME="inventory-events"
RETURN_EVENTHUB_NAME="return-events"

AZURE_STORAGE_CONNECTION_STRING="<PASTE_AZURE_STORAGE_CONNECTION_STRING>"

BRONZE_CONTAINER_NAME="bronze"
SILVER_CONTAINER_NAME="silver"
GOLD_CONTAINER_NAME="gold"
CHECKPOINT_CONTAINER_NAME="checkpoints"